.lista-suspensa{

}


.lista-suspensa select {
  background: #FFFFFF;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
  width: 100%;
  border: none;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}

.lista-suspensa label {
  font-family: 'Montserrat';
  font-style: normal;
  display: flex;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  align-items: center;
  color: #212121;
}

